<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Help</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css">
  <!-- <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap-theme.css"> -->
  <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/lists.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/indicators.css">

  <!-- PUT SCRIPTS BEFORE </body> TAG! 
  except for jQuery and bootstrap -->
  <script type="text/javascript" src="javascripts/jquery-min.js"></script>
  <script type="text/javascript" src="javascripts/bootstrap.js"></script>
</head>
<body>