<!doctype html>
<html>
<head>
  {{#if experiment}}
    <!-- Google Analytics Content Experiment code -->
    <script>function utmx_section(){}function utmx(){}(function(){var
    k='82929364-1',d=document,l=d.location,c=d.cookie;
    if(l.search.indexOf('utm_expid='+k)>0)return;
    function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
    indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
    length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
    '<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
    '://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
    '&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
    valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
    '" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
    </script><script>utmx('url','A/B');</script>
    <!-- End of Google Analytics Content Experiment code -->
  {{/if}}

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Seven</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css">
  <!-- <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap-theme.css"> -->
  <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/lists.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/indicators.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/settings.css">

  <!-- PUT SCRIPTS BEFORE </body> TAG! 
  except for jQuery, underscore, hammer, and bootstrap -->
  <script type="text/javascript" src="javascripts/jquery-min.js"></script>
  <script type="text/javascript" src="javascripts/underscore-min.js"></script>
  <script type="text/javascript" src="javascripts/jquery.hammer-full.min.js"></script>
  <script type="text/javascript" src="javascripts/bootstrap.js"></script>
  <!-- PUT SCRIPTS BEFORE </body> TAG! -->
</head>
<body>

  <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">Seven</a>
              <button class="btn has-spinner" id="refresher">
                <span class="glyphicon glyphicon-refresh spinner-inline" style="display:inline-block"></span>
              </button>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="/"><img class= "icon" src="icons/home.png"alt="home icon">Home</a></li>
                <li><a href="/trash"><img class= "icon"src="icons/trash.png" alt="trash icon">Deleted Articles</a></li>
                <li><a href="/help"><img class= "icon"src="icons/help.png" alt="help icon">Help</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img class= "icon" src="icons/settings.png"alt="settings icon">Settings <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="/settings#filters">Add Filters</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>

    {{{body}}}
    
  </div>
  </div>
  
  <script type="text/javascript" src="javascripts/move.min.js"></script>
  <script type="text/javascript" src="javascripts/Seven.js"></script>
  <script type="text/javascript" src="javascripts/utils.js"></script>
  <script type="text/javascript" src="javascripts/init.js"></script>
  
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-48465518-2', 'sevenapp.herokuapp.com');
    // ga('create', 'UA-48465518-2', { 'cookieDomain': 'none' });
    ga('send', 'pageview');

  </script>
</body>
</html>