<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Seven</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css">
  <!-- <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap-theme.css"> -->
  <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/lists.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/indicators.css">

  <!-- PUT SCRIPTS BEFORE </body> TAG! 
  except for jQuery and bootstrap -->
  <script type="text/javascript" src="javascripts/jquery-min.js"></script>
  <script type="text/javascript" src="javascripts/bootstrap.js"></script>
  <!-- PUT SCRIPTS BEFORE </body> TAG! -->
</head>
<body>

  <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/index">Seven</a>
              <button class="btn has-spinner" id="refresher">
                <span class="glyphicon glyphicon-refresh spinner-inline" style="display:inline-block"></span>
              </button>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="/index"><img src="icons/home.png"alt="home icon">Home</a></li>
                <li><a href="/saved"><img src="icons/saved.png"alt="saved icon">Saved Articles</a></li>
                <li><a href="/trash"><img src="icons/trash.png"alt="trash icon">Deleted Articles</a></li>
                <li><a href="/help"><img src="icons/help.png"alt="help icon">Help</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="icons/settings.png"alt="settings icon">Settings <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="/settings#info">Account Info</a></li>
                    <li><a href="/settings#filters">Add Filters</a></li>
                    <li><a href="#">Logout</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>

    {{{body}}}
    
  </div>
  </div>
  
  <script type="text/javascript" src="javascripts/Seven.js"></script>
  <script type="text/javascript" src="javascripts/utils.js"></script>
  <script type="text/javascript" src="javascripts/init.js"></script>
  <script type="text/javascript" src="javascripts/jqueryTouchSwipe.min.js"></script>
  
</body>
</html>