<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TopSeven</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap-theme.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/main.css">

  <!-- PUT SCRIPTS BEFORE </body> TAG! -->
  
</head>
<body>

  <div class="container">

    {{{body}}}
    
  </div>

  <script type="text/javascript" src="javascripts/jquery-min.js"></script>
  <script type="text/javascript" src="javascripts/bootstrap.js"></script>
  <script type="text/javascript" src="javascripts/init.js"></script>
</body>
</html>