<h3 id="articleTitle">{{title}}</h3>

<table border = "0" table-layout="fixed" width="100%">
  <tr>
    <td width = "20%"><a href="/index" class="btn-start btn btn-large btn-success "  role="button" id="saveBtn">Save Article</a></td>
    <td width = "60%"></td>
    <td width = "20%"> <a href="/index" class="btn-start btn btn-large btn-success "  role="button" id="delBtn">Delete Article</a></td>
  </tr>
</table>

<p> </p>

<iframe id="articleFrame" src="{{url}}" width="100%" height="600px"></iframe>



<script type="text/javascript">
  $(document).ready(function() {
    var article = Seven.getArticle(getParam("id"));
    $("#articleTitle").text(article.title);
    $("#articleFrame").attr('src', article.url);
    $("#saveBtn").click(function(e) {
      e.preventDefault();
      Seven.saveArticle(article);
      window.location = $("#saveBtn").attr('href');
    });
    $("#delBtn").click(function(e) {
      e.preventDefault();
      Seven.deleteArticle(article);
      window.location = $("#delBtn").attr('href');
    });
  });
</script>