<div class="article">
  <div style="position:relative">
    <!-- <div id="articleBanner">
      <button class="btn go-back" style="display:inline-block">
        <span class="glyphicon glyphicon-chevron-left" style="display:inline-block"></span>
      </button>
    </div> -->
    <div class="actionButtons" class="clearfix">
      <div class="backButton btn btn-lg btn-default">
        <span class="glyphicon glyphicon-chevron-left" style="display:inline-block"></span>
      </div>
      <div class="deleteButton btn btn-lg btn-danger">
        <span class="glyphicon glyphicon-trash" style="display:inline-block"></span>
      </div>
    </div>
  </div>

  <div id="articleHelper" class="helper alert alert-success alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    Nice! <strong>Swipe right</strong> on the buttons above to go back.
  </div>

  <iframe id="articleFrame" src="{{url}}" width="100%" height="600px"></iframe>
</div>


<script type="text/javascript">
  $(document).ready(function() {
    checkHelper("articleHelper");
    var article = Seven.getArticle(getParam("id"));
    // $("#articleBanner").text(article.title);
    $("#articleFrame").attr('src', article.url);

    $(".actionButtons .backButton").click(function(e) {
      window.history.back();
    });
    $(".actionButtons .openButton").click(function(e) {
      window.open(article.url, '_blank');
    });
    $(".actionButtons .deleteButton").click(function(e) {
      Seven.deleteArticle(article);
      window.location = "/";
    });

    articleViewSwiping();
  });

  function articleViewSwiping() {
    var animationDuration = 200;
    var dragCutoff = 100;

    $('.actionButtons').hammer()
      // .on("dragleft", function(e) {
      //   $(this).css({left: e.gesture.deltaX});
      // })
      .on("dragend", function(e) {
        // if (e.gesture.deltaX < 0) {
        //   toggleButtons();
        // }
        if (e.gesture.deltaX > dragCutoff) {
          if (!$(this).data('swiped'))
            window.history.back();
        } else {
          $(this).closest('.article').animate({left: 0}, animationDuration);
        }
      })
      // .on("tap", toggleButtons)
      .on("dragright", function(e) {
        // if ($(this).data('swiped')) {
        //   $(this).animate({left: 0}, animationDuration, function() {
        //     $(this).data('swiped', false);
        //   });
        // }
        $(this).closest('.article').css({left: e.gesture.deltaX}); 
      });

    // $('.article-list').hammer().on("tap", ".swipe", function(e) {
    //   window.location = $(e.target).closest('a')[0].href;
    // });
    function toggleButtons(e) {
      if (e) {e.preventDefault(); e.stopPropagation();}

      var $title = $('#articleBanner');
      if ($title.data('swiped')) {
        $title.animate({left: 0}, animationDuration, function() {
          $(this).data('swiped', false);
        });
      } else {
        var target = -1*$('.actionButtons').width();
        $title.animate({left: target}, animationDuration, function() {
          $(this).data('swiped', true);
        });
      }
    }
  }


</script>