<div class="container whitewrapper">
  <h2>How to Use Seven</h2>

  <p>Swipe left to delete.</p>
  <img class="screenshot" src="/images/delete.png" alt="delete article image">
  <hr>
  <p>These articles can be accessed from the menu item Deleted Articles</p>

  <p>Seven pulls articles from the New York Times and ranks them according to popularity among our users, popularity among New York Times users, and criteria tailored to you, performed via <strong>natural language processing</strong> and categorization.</p>

  <a href="/" class="btn-start btn btn-large btn-success "  role="button">Ok I get it</a>

  <br/>
  <br/>
</div>