<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Help</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css">
  <!-- <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap-theme.css"> -->
  <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/help.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/indicators.css">

  <!-- PUT SCRIPTS BEFORE </body> TAG! 
  except for jQuery and bootstrap -->
  <script type="text/javascript" src="javascripts/jquery-min.js"></script>
  <script type="text/javascript" src="javascripts/bootstrap.js"></script>
</head>
<body>

<h2>How to Use Seven</h2>

<p>Swipe right to save an article and left to delete it.</p>
<img class="howto" src="/images/save.png" alt="save article image">
<img class="howto" src="/images/delete.png" alt="delete article image">
<hr>
<p>These files can be accessed from the menu items Saved Articles and Deleted Articles</p>
<img class="howto" src="/images/menu.png" alt="menu image">


</body>
</html>