<div id="welcomeHelper" class="alert alert-info alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  Welcome to <strong>Seven</strong>! Here's the news you've missed in the past 7 days. Tap an article to view it.
</div>

<div id="swipeHelper" class="alert alert-warning alert-dismissable" style="display:none">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  Lastly, you can swipe articles <strong>left to delete</strong>. Seven will learn which articles are best for you. <strong>Go find your Seven.</strong>
</div>

<div class="article-list" id="articleList">
  <div class="list-group">
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    checkHelper("welcomeHelper");
    // GOOGLE ANALYTICS
    // ga("send", "event", "index", "view");
    // END GOOGLE ANALYTICS

    initArticles();
    articleClick();
    articleHold();
    if(!$("#welcomeHelper").is(":visible") && !JSON.parse(localStorage.helpers).swipeHelper) {
      $("#swipeHelper").show();
      checkHelper("swipeHelper");
    }
    
    enableSwiping();

    {{#if fancy}}
      $(window).on('scroll', scrollAnimation);
      scrollAnimation();
    {{/if}}

    // $(window).on('scroll', function(e) {
      // GOOGLE ANALYTICS
      // ga("send", "event", "index", "scroll");
      // END GOOGLE ANALYTICS
    // });
  });

  function initArticles() {
    var articles = Seven.loadArticles();
    if (!articles || articles.length == 0) refreshArticles();
    else replaceArticles(articles);
  }

  function articleHold() {
    var bufferFromTop = $(".navbar-wrapper").outerHeight() + 20;
    $('.article-list').hammer().on("hold", ".list-group-item", function(e) {
      move(this)
        .scale(1)
        .y(0)
        .duration('0.5s')
        .end();
      var $article = $(this);
      $article.css("z-index", 101);
      $(".lightbox").fadeIn(400, function() {
        $(this).one("click", function() {
          $(this).fadeOut();
          $article.css("z-index", "");
          scrollAnimation();
        });
      });
    });
  }



  function scrollAnimation(_e) {
    {{#if fancy}}
      var edge = $(window).scrollTop();

      $(".article-list .list-group-item").each(function(i) {
        var thisEdge = $(this).offset().top;
        if (thisEdge <= edge) return;
        var zoomFactor = 14.0/Math.sqrt(thisEdge - edge);
        if (zoomFactor > 1) zoomFactor = 1;
        // console.log(zoomFactor);
        var translateFactor = 16 - Math.pow(16, 1.0/zoomFactor);
        // var translateFactor = -9.48665*Math.pow(zoomFactor, 2.12531);
        // console.log(translateFactor);

        move(this)
          .scale(zoomFactor)
          .y(translateFactor)
          .duration('0.5s')
          .end();
      });
    {{/if}}
  }

  function scrollAnimationOld(_e) {
    {{#if fancy}}
      var edge = $(window).scrollTop();

      $(".article-list .list-group-item").each(function(i) {
        var thisEdge = $(this).offset().top;
        if (thisEdge <= edge) return;
        var zoomFactor = 14.0/Math.sqrt(thisEdge - edge);
        if (zoomFactor > 1) zoomFactor = 1;
        // console.log(zoomFactor);
        var translateFactor = 16 - Math.pow(16, 1.0/zoomFactor);
        // var translateFactor = -9.48665*Math.pow(zoomFactor, 2.12531);
        // console.log(translateFactor);
        $(this).css({
          "-webkit-transform": "scale(" + zoomFactor + ") " +
                               "translateY(" + translateFactor + "px)"
        });
      });
    {{/if}}
  }

  function enableSwiping() {
    var animationDuration = 300;
    $('.article-list').hammer().on("swipeleft", ".list-group-item", function(e) {
      var id = $(this).closest('a').data("id");
      console.log(id);

      var $ghostDiv = $("<div class='ghostDiv ghostDivDelete' />").html("<div>Deleted</div>");
      $ghostDiv.css({
        top: $(this).offset().top,
        height: $(this).height(),
      });
      $ghostDiv.appendTo("body");

      $(this).animate({left: "-100%"}, animationDuration, function() {
        var el = this;
        $ghostDiv.fadeOut(1000, function() {
          $(el).remove();
          $(this).remove();
          scrollAnimation();
        });
      });
      var article = Seven.getArticle(id);

      Seven.deleteArticle(article);
    });
    // .on("swiperight", ".swipe", function(e) {
    //   var id = $(this).closest('a').data("id");
    //   console.log(id);

    //   var $ghostDiv = $("<div class='ghostDiv ghostDivSave' />").html("<div>Saved</div>");
    //   $ghostDiv.css({
    //     top: $(this).offset().top,
    //     height: $(this).height(),
    //   });
    //   $ghostDiv.appendTo("body");

    //   $(this).animate({left: "100%"}, animationDuration, function() {
    //     var el = this;
    //     $ghostDiv.fadeOut(1000, function() {
    //       $(el).remove();
    //       $(this).remove();
    //       scrollAnimation();
    //     });
    //   });
    //   var article = Seven.getArticle(id);

    //   Seven.saveArticle(article);
    // });
  }

</script>