<div class="col-sm-4 article-list">
  <div class="list-group">
     <a href="/article?title=List%20group%20item%20heading&url=http://cs147.stanford.edu/" class="list-group-item active" id="swipe">
      <div class="rank">1</div>
      <h4 class="list-group-item-heading">Article Title</h4>
      <p class="list-group-item-text"> YOLO Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    </a>
    <a href="/article" class="list-group-item" id="swipe">
      <div class="rank">2</div>
      <h4 class="list-group-item-heading">Article Title</h4>
      <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    </a>
    <a href="#" class="list-group-item" id="swipe">
      <div class="rank">3</div>
      <h4 class="list-group-item-heading">Article Title</h4>
      <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    </a>
    <a href="#" class="list-group-item" id="swipe">
      <div class="rank">4</div>
      <h4 class="list-group-item-heading">Article Title</h4>
      <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    </a>
    <a href="#" class="list-group-item" id="swipe">
      <div class="rank">5</div>
      <h4 class="list-group-item-heading">Article Title</h4>
      <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    </a>
    <a href="#" class="list-group-item" id="swipe">
      <div class="rank">6</div>
      <h4 class="list-group-item-heading">Article Title</h4>
      <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    </a>
    <a href="#" class="list-group-item" id="swipe">
      <div class="rank">7</div>
      <h4 class="list-group-item-heading">List group item heading</h4>
      <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    </a>
  </div>
</div>

<div id="swipe"> -------------------Swipe Direction?--------------- </div>

