<div class="article-list" id="savedList">
  <div class="list-group">
    You have not saved any articles.
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    initSavedArticles();
  });

  function initSavedArticles() {
    var saved = Seven.loadSavedArticles();
    if (!saved || saved.length == 0) return;
    else replaceArticles(saved, false);
  }
</script>