<div class="col-sm-4 saved-list" id="savedList">
  <div class="list-group">
    You have not saved any articles.
  </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
  var articles = JSON.parse(localStorage['saved-articles']);
  replaceArticles(articles);
});

function replaceArticles(articles) {
  var template = function(article) {
    var thumbnail = "";
    if (article.media && article.media[0].type=="image") {
      var metadata = article.media[0]['media-metadata'];
      thumbnail = '<img src="' + metadata[0].url + '" class="thumbnail" />';
    }
    return '<a href="/article?id=' + article.id +'" class="list-group-item swipe">' +
      '<div class="rank">' + article.rank + '</div>' + 
      thumbnail +
      '<h4 class="list-group-item-heading">' + article.title + '</h4>' +
      '<p class="list-group-item-text">' + article.abstract + '</p>' + 
    '</a>';
  }

 var savedList = "";
  for (var i = 0; i < articles.length; i++) {
    var article = articles[i];
    if (article) savedList += template(article);
  }

  $("#articleList").find('.list-group')
    .html(savedList);
}
  
</script>