<div id="settingsList"> 
  <h3 id="filters">My Interests:</h3>
  <p>By default, you will receive all types of articles. To choose your preferences, click your favorite categories and press Apply Filters!</p>

  <form name ="filters" action="/filter/" id="filterform" method="post">
  <div id="ck-button">
    <label>
  <input type="checkbox" name="filter" value ="Business"> <span>Business</span></label></div>
  <div id="ck-button">
    <label>
  <input type="checkbox" name="filter" value="Technology"><span>Technology</span></label></div>
  <div id="ck-button">
    <label>
  <input type="checkbox" name="filter" value ="World"><span>World</span></label></div>
  <div id="ck-button">
    <label>
  <input type="checkbox" name="filter" value ="Fashion"><span>Fashion</span></label></div>
  <div id="ck-button">
    <label>
  <input type="checkbox" name="filter" value ="Arts"><span>Arts</span></label></div>
  <div id="ck-button">
    <label>
  <input type="checkbox" name="filter" value ="Science"><span>Science</span></label></div>
  <div id="ck-button">
    <label>
  <input type="checkbox" name="filter" value ="Health"><span>Health</span></label></div>
  <div id="ck-button">
    <label>
  <input type="checkbox" name="filter" value ="Sports"><span>Sports</span></label></div>
  </form>

  <a class="btn-start btn btn-large btn-success "  id="submitfilters" role="button">Apply Filters</a>

</div>

<script>
$("#submitfilters").click(function(){
  $("#filterform").submit();
});
</script>