<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Help</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css">
  <!-- <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap-theme.css"> -->
  <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/settings.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/indicators.css">

  <!-- PUT SCRIPTS BEFORE </body> TAG! 
  except for jQuery and bootstrap -->
  <script type="text/javascript" src="javascripts/jquery-min.js"></script>
  <script type="text/javascript" src="javascripts/bootstrap.js"></script>
</head>
<body>

<h3 id="filters">My Interests:</h3>
<p>By default, you will receive all types of articles. To choose your preferences, click your favorite categories and press Apply Filters!</p>

<form>
<div id="ck-button">
  <label>
<input type="checkbox" name="filter1" value ="filter2"> <span>Business</span></label></div>
<div id="ck-button">
  <label>
<input type="checkbox" name="filter2" value="filter2"><span>Technology</span></label></div>
<div id="ck-button">
  <label>
<input type="checkbox" name="filter3" value ="filter3"><span>World</span></label></div>
<div id="ck-button">
  <label>
<input type="checkbox" name="filter4" value ="filter4"><span>Fashion</span></label></div>
<div id="ck-button">
  <label>
<input type="checkbox" name="filter5" value ="filter5"><span>Arts</span></label></div>
<div id="ck-button">
  <label>
<input type="checkbox" name="filter6" value ="filter6"><span>Science</span></label></div>
<div id="ck-button">
  <label>
<input type="checkbox" name="filter7" value ="filter7"><span>Health</span></label></div>
<div id="ck-button">
  <label>
<input type="checkbox" name="filter8" value ="filter8"><span>Sports</span></label></div>
</form>

<a href="/" class="btn-start btn btn-large btn-success "  role="button">Apply Filters</a>
<!--<button type="submit" class="btn btn-success" "submit" id=fubmit>Save</button> -->

</body>
</html>