<div class="col-sm-4 article-list" id="deletedList">
  <div class="list-group">
    You do not have any deleted articles.
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    initDeletedArticles();
  });
</script>