body {
	margin:10px;
}

.screenshot {
	padding-bottom: 10px;
	padding-top: 10px;
	padding-right:10px;
	padding-left:20px;
	height:400px;
	width:350px;
}

.howto {
	padding-bottom: 10px;
	padding-top: 10px;
	height:302px;
	width:260px;
}