.article-list {
  padding: 0px;
}

  .article-list .list-group-item {
    clear: both;
    overflow: hidden;
  }

.rank {
  height: 26px;
  width: 30px;
  float: left;
  padding-top: 8px;
}

.thumbnail {
  float: right;
  margin-left: 5px;
  margin-bottom: 5px;
}