/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 50px;
  color: #5a5a5a;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /*background: -webkit-linear-gradient(top, #e8ffe5 0%,#ffe8e8 46%,#f2faff 100%);*/
}

a {
  color: #00B7FF;
}

/* Bootstrap overrides */

.alert {
  margin: 0;
}

.btn-start {
  width:100%;
}

.article {
  position: relative;
}

.navbar {
  margin: 0;
}

/* Custom */

#articleTitle {
  position: relative;
  height: 45px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  z-index: 2;
  margin: 0;
  background-color: white;
}

.actionButtons {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
}

  .actionButtons .btn {
    float: right;
    border-radius: 0;
    height: 45px;
  }


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-left: 0;
  padding-right: 0;
}
.navbar-wrapper .navbar {
  padding-left: 15px;
  padding-right: 15px;
}

/* Add padding to icons */
img {
  padding-right: 20px;
  padding-left:5px;
}

#refresher {
  background-color: rgb(51, 51, 51);
  color: rgb(173, 173, 173);
  margin: 5px;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 400px;
  margin-bottom: 10px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  bottom: 80px;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 400px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 120%; /* TODO fix */
  min-height: 100%;
}

/* CUSTOMIZE FULL ELEMENTS
-------------------------------------------------- */

iframe {
  border: 0;
  box-shadow: 0px 0px 10px rgb(150, 150, 150);
}


